/* headshot styles */
.headshot-wrapper {
  text-align: center;
  padding-top: 30px;

  img {
    width:160px;  
    height: 160px; 
    border-radius: 50%; 
    object-fit: cover; 
    object-position: 50% 25%;
  }
}

/* Custom links */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }
  &:hover {
    text-decoration: underline;
    text-decoration-color: $brand-color;
    text-decoration-thickness: 2px;
        text-underline-offset: 5px;
  }
  
  .u-email &:hover {
    text-decoration: none;
  }
}

/* Custom site header */
.site-header {
  border-top: none;
  border-bottom: none;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

}

.site-title {
  @include relative-font-size(1.875);
  font-weight: 500;
  line-height: $base-line-height * $base-font-size * 4;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited,
  &:hover {
    color: $brand-color;
    text-decoration: underline;
    text-underline-offset: 15px;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 4;
  border: none;
  top: 32px;
  right: 16px;
  background-color: #f9f8f6;
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-underline-offset: 10px;
  }
  .menu-icon > svg path {
    fill: $brand-color;
  }
  input:checked ~ .trigger {
    padding-bottom: 10px;
  }
  @media screen and (min-width: $on-medium) {
    background-color: inherit;
  }
}

/* Custom site footer */
.site-footer {
  border-top: none;
  padding: $spacing-unit 0;
  
  .wrapper {
    border-top: 1px solid $grey-color-light;
    padding-top: $spacing-unit;
    padding-right: $spacing-unit / 2;
    padding-bottom: 0px;
    padding-left: $spacing-unit / 2;
  }
}
.footer-heading {
  display: none;
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
  display: flex;
  justify-content: space-between;

   &::after {
     content: none;
  }
}

.footer-col-3 {
  width: auto;
  text-align: right;
}

/* Page styles */
.page-heading {
  @include relative-font-size(1.625);
}

.post-title {
  @include relative-font-size(1.625);
}

.post-subtitle {
  @include relative-font-size(1.25);
}


/* Code blocks */
.highlighter-rouge .highlight {
    background: #f9f8f6;
  }
pre, code {
  background-color: #f9f8f6;
}
